<section class="mt-5">
    <div class="container-fluid manufacture-div">
        <div class="row">
                <div class="col-12 p-5 industries_title ">
                        <div class="row">
                            <div class="col-10">
                                <!-- <p class="h4 text-primary font-weight-bold">
                                    INDUSTRY
                                </p> -->
                                <h1 class="h1 text-primary font-weight-bold">
                                    Insights
                                </h1>
                            </div>
                        </div>
                </div>
        </div>
        
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-7 offset-3 p-3 mb-4">
                <h1 class="h1 font-weight-bold text-primary">Data analytics & BI redefined</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="col-12  p-3 insights-divs animate-right">
                            <div class="">
                                <h4 class="h4 text-center">Data Analytics</h4>
                                <p class="text-center">Simplify decisions through measuring business processes</p>
                            </div>
                            <div class="text-center m-4 insight-button-div">
                                    <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                             </div>
                        </div>

                    </div>
                    <div class="col-4">
                            <div class="col-12  p-3 insights-divs animate-right">
                                    <div class="">
                                        <h4 class="h4 text-center">Artificial Intelligence</h4>
                                        <p class="text-center">Make sense of your data; Model and solve complex problems</p>
                                    </div>
                                    <div class="text-center m-4 insight-button-div">
                                            <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                                     </div>
                                </div>
                    </div>
                    <div class="col-4">
                            <div class="col-12  p-3 insights-divs animate-right">
                                    <div class="">
                                        <h4 class="h4 text-center">IoT Analytics</h4>
                                        <p class="text-center">Develop intelligent connected devices that enable IoT 
                                            </p>
                                    </div>
                                    <div class="text-center m-4 insight-button-div">
                                            <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                                     </div>
                                </div>
    
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="">
    <div class="container-fluid ">
        <div class="row py-5">
            <div class="col-12  ">
                <div class="row digital-partners p-5 ">
                        <div class="col-12">
                                <h1 class="text-white text-center p-3 pb-4n">Anblicks-at-a-Glance</h1>
                        </div>
                        <div class="col-12 col-md-3 px-5 establishment-div rounded">
                            <div class="col-12 py-5 animate-bottom bg-success">
                                <div class="p-4">
                                    <h2 class="text-white text-center">2004</h2>
                                    <p class="text-white text-center">Established in Texas</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 px-5 ">
                                <div class="col-12 bg-info py-5 animate-bottom">
                                    <div class="p-4">
                                        <h2 class="text-white text-center">300 +</h2>
                                        <p class="text-white text-center">Established in Texas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 px-5 ">
                                    <div class="col-12  bg-dark  py-5 animate-bottom">
                                        <div class="p-4">
                                            <h2 class="text-white text-center">400 +</h2>
                                            <p class="text-white text-center">Strong Delivery Team</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 px-5 ">
                                        <div class="col-12   bg-danger py-5 animate-bottom">
                                            <div class="p-4">
                                                <h2 class="text-white text-center">4</h2>
                                                <p class="text-white text-center">Established in Texas</p>
                                            </div>
                                        </div>
                                    </div>
                </div>
            </div>
        </div>
    </div>
</section>