<section class="mt-5">
        <div class="container-fluid manufacture-div">
            <div class="row">
                    <div class="col-12 p-5 industries_title ">
                            <div class="row">
                                <div class="col-10">
                                    <!-- <p class="h4 text-primary font-weight-bold">
                                        INDUSTRY
                                    </p> -->
                                    <h1 class="h1 text-primary font-weight-bold">
                                        Mobile App Development
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container-fluid manufacture-div mt-3">
            <div class="row">
                    <div class="col-12  ">
                            <div class="row">
                                <div class="col-6 manufacture-text">
                                    <div class="col-12 m-4">
                                            <p class="p-3 ml-5">
                                                    Anblicks’s cloud consulting services help customers evaluate the cloud as part of their IT service delivery strategy, identify which enterprise applications can be moved to the cloud, and identify which target operating models, processes and technology are required for using cloud.
                                            </p>
                                            <p class="p-1 pl-3 ml-5">
                                                    In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns .
                                            </p>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="col-12">
                                        <div class="manufacture-img p-3 animate-right">
                                            <img src="assets\images\services\cloud-transofrm\c1.jpg"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </section>
    <section>
            <div class="container-fluid industries_title">
                <div class="row p-5">
                    <div class="col-12">
                        <div class="row p-5">
                            <div class="col-6">
                                <div class="col-12 cloud-app-text">
                                    <h3 class="h3 text-primary">Cloud Migration and Implementation</h3>
                                    <p class="p-3 ">
                                            Anblicks’s cloud consulting services help customers evaluate the cloud as part of their IT service delivery strategy, identify which enterprise applications can be moved to the cloud, and identify which target operating models, processes and technology are required for using cloud.
                                    </p>
                                    <ul class="">
                                            <li>Enterprise mobile architecture</li>
                                            <li>Application UI architecture development</li>
                                            <li>Integration of existing legacy apps</li>
                                            <li>Compliance with industry standards (general and platform specific)</li>
                                            <li>Quality assurance and testing of mobile applications</li>
                                           
                                        </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12 ">
                                        <h3 class="h3 text-primary">Cloud Migration and Implementation</h3>
                                    <p class="p-2 ">
                                            Anblicks aptitudes to deliver quality solutions and help the enterprise customers to get a faster return on investment. We help our customers address their business challenges, improve application performance and deliver engaging smartphone applications from our offshore mobile app development services.
                                    </p>
                                    <p class="p-2 ">
                                            Anblicks understands the challenge and criticality of managing business applications and infrastructure over cloud environment and how companies can reap maximum benefits of high quality SLA, guaranteed uptime and zero disruption.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </section>
     <section>
            <div class="container-fluid">
                <div class="row p-3">
                    <div class="col-12">
                        <div class="row p-5">
                            <div class="col-6">
                                <div class="col-12 cloud-app-text">
                                    <h3 class="h3 text-primary">
                                            Cloud Readiness Assessment</h3>
                                    <p class="p-3 ">
                                            Anblicks’s cloud readiness assessment services help large enterprises and ISVs systematically adopt cloud technologies. Anblicks collaboratively helps CIOs find the answers to critical questions, such as:
                                    </p>
                                    <ul class="">
                                            <li>Can I leverage cloud to enhance IT value?</li>
                                            <li>Which IT components are suitable for cloud?Which IT components are suitable for cloud?</li>
                                            <li>What kind of cloud is suitable for my organization?</li>
                                            <li>Who should be cloud provider?</li>
                                            <li>What is required to successfully adopt cloud?</li>
                                            <li>How do I incorporate cloud assessment in future IT projects?</li>
                                            <li>How do I manage and govern my cloud portfolio?</li>
                                            <li>What would be my costs and ROI using the cloud?</li>
                                           
                                        </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12 ">
                                        <h3 class="h3 text-primary">Cloud Migration and Implementation</h3>
                                        <ul class="">
                                                <li>Can I leverage cloud to enhance IT value?</li>
                                                <li>Which IT components are suitable for cloud?Which IT components are suitable for cloud?</li>
                                                <li>What kind of cloud is suitable for my organization?</li>
                                                <li>Who should be cloud provider?</li>
                                                <li>What is required to successfully adopt cloud?</li>
                                                <li>How do I incorporate cloud assessment in future IT projects?</li>
                                                <li>How do I manage and govern my cloud portfolio?</li>
                                                <li>What would be my costs and ROI using the cloud?</li>
                                               
                                            </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </section>