<section class="mt-5">
        <div class="container-fluid manufacture-div">
            <div class="row">
                    <div class="col-12 p-5 industries_title ">
                            <div class="row">
                                <div class="col-10">
                                    <!-- <p class="h4 text-primary font-weight-bold">
                                        INDUSTRY
                                    </p> -->
                                    <h1 class="h1 text-primary font-weight-bold">
                                            Banking, Financial Services and Insurance
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container-fluid manufacture-div mt-3">
            <div class="row">
                    <div class="col-12  ">
                            <div class="row">
                                <div class="col-6 manufacture-text">
                                    <div class="col-12 m-4">
                                            <p class="p-3 ml-5">
                                                    In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                            </p>
                                            <p class="p-3 ml-5">
                                                    In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                            </p>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="col-12">
                                        <div class="manufacture-img p-3 animate-right">
                                            <img src="assets\images\industries\bfsi\bfsi-2.jpg"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid manufacture-div mt-3 manufacture-div-background">
            <div class="row">
                    <div class="col-12 ">
                            <div class="row">
                                
                                <div class="col-5">
                                    <div class="col-12  ml-5">
                                        <div class="manufacture-img p-4 animate-right">
                                            <img src="assets\images\industries\bfsi\bfsi-1.jpg"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 manufacture-text">
                                    <div class="col-12 m-4 ml-5">
                                            <p class="p-3 ml-5 text-white">
                                                    In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                            </p>
                                            <div class="ml-5">
                                                <h4 class="text-white h5 ml-3">Our Solutions:</h4>
                                                <ul class="p-3 ml-5 text-white">
                                                    <li>
                                                     Vendor Quality
                                                    </li>
                                                    <li>Cost</li>
                                                    <li>Stability</li>
                                                </ul>
                                            </div>
                                           
                                    </div>
                                </div>
    
                            </div>
                    </div>
            </div>
        </div>
    </section>
    <section>
            <div class="container-fluid manufacture-div mt-3">
                <div class="row">
                        <div class="col-12  ">
                                <div class="row">
                                    <div class="col-6 manufacture-text">
                                        <div class="col-12 m-4">
                                                <p class="p-3 ml-5">
                                                        In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                                </p>
                                                <p class="p-3 ml-5">
                                                        In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                                </p>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-12">
                                            <div class="manufacture-img p-3 animate-right">
                                                <img src="assets\images\industries\bfsi\bfsi-3.jpg"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
    </section>
    <section>
                <div class="container-fluid manufacture-div mt-3 manufacture-div-background">
                    <div class="row">
                            <div class="col-12 ">
                                    <div class="row">
                                        
                                        <div class="col-5">
                                            <div class="col-12  ml-5">
                                                <div class="manufacture-img p-4 animate-right">
                                                    <img src="assets\images\industries\bfsi\bfsi-2.jpg"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 manufacture-text">
                                            <div class="col-12 m-4 ml-5">
                                                    <p class="p-3 ml-5 text-white">
                                                            In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                                    </p>
                                                    <div class="ml-5">
                                                        <h4 class="text-white h5 ml-3">Our Solutions:</h4>
                                                        <ul class="p-3 ml-5 text-white">
                                                            <li>
                                                                    Up-to-date accurate data.
                                                            </li>
                                                            <li>Inventory that’s balanced with demand in near-real time.</li>
                                                            <li>Supply plans aligned with demand forecasts.
                                                                </li>
                                                        </ul>
                                                    </div>
                                                   
                                            </div>
                                        </div>
            
                                    </div>
                            </div>
                    </div>
                </div>
    </section>
    <section>
            <div class="container-fluid manufacture-div mt-3">
                <div class="row">
                        <div class="col-12  ">
                                <div class="row">
                                    <div class="col-6 manufacture-text">
                                        <div class="col-12 m-4">
                                                <p class="p-3 ml-5">
                                                        In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                                </p>
                                                <div class="ml-5">
                                                        <h4 class=" h5 ml-3">Our Solutions:</h4>
                                                        <ul class="p-3 ml-5 ">
                                                            <li>
                                                                    Up-to-date accurate data.
                                                            </li>
                                                            <li>Inventory that’s balanced with demand in near-real time.</li>
                                                            <li>Supply plans aligned with demand forecasts.
                                                                </li>
                                                        </ul>
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-12">
                                            <div class="manufacture-img p-3 animate-right">
                                                <img src="assets\images\industries\bfsi\bfsi-1.jpg"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
    </section>