<section class="my-5">
        <div class="container-fluid cbg-color">
            <div class="row">
                    <div class="col-12 p-5  ">
                            <div class="row">
                                <!-- <div class="col-1"></div> -->
                                <div class="col-10">
                                    <h1 class="h1 text-primary font-weight-bold pl-5">
                                            Artificial Intelligence
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
<section>
    <div class="container-fluid">
            <div class="row text-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 ">
                        <div class="">
                            <img src="assets\images\services\img5.jpg">                  
                        </div>
                    </div>
                    <div class="col-md-4"></div>      
            </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 cbg-color ctext-color">
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5"> 
                <h3 class="text-primary">Statistical Analysis</h3>
                <p>Statistical analysis involves collecting and scrutinizing every data sample in a set of items from which samples can be drawn. 
                    A sample, in statistics, is a representative selection drawn from a total population. The goal of statistical analysis is to identify trends, relationship or a pattern.</p>
                <ul>
                    <li>
                        <strong> Data Analysis:</strong> Describe the nature of the data to be analyzed and explore the relations between data elements. EDA also helps understand and quantify features of the population.
                    </li>
                    <li> <strong> Hypothesis Testing:</strong> The purpose is to design experiments, measure the results and draw the conclusions on the Population based on the samples. 
                           This helps create a model to summarize the understanding of how the data relates to the underlying population and prove (or disprove) the validity of the model.
                        </li>
                    <li> <strong> Bayesian Methods:</strong> This is a method of inference in which Bayes’ theorem is used to update the probability for a hypothesis as more evidence or information becomes available. It has a wide range of applications including science, engineering, philosophy, medicine, sport, and business
                    </li>
                </ul>
            </div>
            <div class="col-md-5"> 
                    <h3 class="text-primary">Machine Learning (ML)</h3>
                    <p>The goal of machine learning is to develop methods that can automatically detect patterns in data, and then to use the uncovered patterns to predict the outcomes of interest.</p>
                    <ul>
                        <li>
                            <strong>Supervised Learning:</strong>  This is a process where the algorithm learns from the past observations and creates a prediction model. This model is utilized to predict the outcome of a given set of input conditions.
                        </li>
                        <li> <strong> Unsupervised learning:</strong> The goal for unsupervised learning is to model the underlying structure or distribution in the data in order to learn more about the data. Algorithms are left to their own to discover and present the interesting structure in the data.
                            </li>
                        <li> <strong> Recommender Systems:</strong> These systems filter the choices for a user/product and personalize the recommendations based on the user’s preferences/propensity.
                        </li>
                    </ul>
                </div>
            <div class="col-md-1"> </div>
        </div>
    </div>
</section>
<section>
        <div class="container-fluid py-5 ctext-color">
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-5"> 
                    <h3 class="text-primary">Natural Language Processing (NLP)</h3>
                    <p>NLP refers to a method of communicating with an intelligent system using a human language. It involves making computers to perform useful tasks by automatically interpreting and making decisions using both speech and Text</p>
                    <ul>
                        <li>
                            <strong> Topic Mining:</strong> Identifying the key topics in a corpus of text is called topics. These techniques are used to identify trends, user preferences and new ideas that were discussed in increasingly proliferating information generation.
                        </li>
                        <li> <strong> Entity Extraction:</strong>  This seeks to identify pre-defined categories from a corpus of text such as the names of persons, organizations, locations, expressions of times, quantities, monetary values, percentages, etc.
                            </li>
                        <li> <strong> Sentiment Analysis:</strong> This is to systematically identify, extract, quantify, and study affective states and subjective information. Sentiment analysis is widely applied to the voice of the customer materials such as reviews and survey responses, online and social media.
                        </li>
                    </ul>
                </div>
                <div class="col-md-5"> 
                        <h3 class="text-primary">Deep Learning</h3>
                        <p>Deep learning is a study of Artificial neural networks with applications in image processing and other complex tasks that simple machine learning algorithms may not directly perform.</p>
                        <ul>
                            <li>
                                <strong>Neural Networks:</strong> These are algorithms that attempts to identify underlying relationships in a set of data by using a process that mimics the way the human brain operates. They have the ability to adapt to changing inputs without the need to redesign the output criteria
                            </li>
                            <li> <strong>Semantic Learning:</strong> These are models that are utilized in developing intelligent systems that comprehend Language. Semantic networks themselves are utilized to store and retrieve knowledge.
                                </li>
                            <li> <strong>AI Bots:</strong>These are computer programs which conducts a conversation via auditory or textual methods. These are designed to convincingly simulate human behavior as a conversational partner. They can use advanced AI techniques.
                            </li>
                        </ul>
                    </div>
                <div class="col-md-1"> </div>
            </div>
        </div>
    </section>
<section>
    <div class="container-fluid cbg-color py-4 ctext-color">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><h3 class="py-3 text-primary">Our Artificial Intelligence Services</h3></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <ul>
                    <li>
                        <strong>Consulting - </strong> Our Consulting offering comes with expertise in mapping business problems to technical solutions that ensure Business value attainment. We specialize in High level architecture, platform and design consulting for a large-scale data Processing, transformational BI and Predictive Analytics.
                    </li>
                    <li> <strong>System Integration - </strong> Our System Integration Services focus on building custom analytical systems that are performant, efficient data management and maintenance of the cluster infrastructure that optimally utilizes a given computing environment.
                        </li>
                    
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li>
                        <strong>Solution Development - </strong> Our Solutions offerings come with a framework/Toolkits for solving challenges in a specific vertical or a domain. They would work on large datasets, variety of data structure and/or latency. These are complete solution builds that fits in well with customer’s Data Product strategies. We will utilize the open source accelerators that were built by us.
                    </li>
                    <li> <strong>Support - </strong> Our RapidMiner Support offering is unique in terms of sharing our years of expertise working in the areas of Big Data Analytics and Data Science. We would put our experience to benefit nascent Data Science practices ramp up quickly on the Advanced Analytics journey or establish a captive support center.
                    </li>
                   
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 ctext-color">
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                    <h2 class="text-primary pt-3">Global Solution Partner</h2>
                <p>
                    RapidMiner is the industry’s #1 open source data science platform, disrupting the 
                    market by empowering enterprises to include predictive analytics in any business process—closing 
                    the loop between insight and action. The platform makes predictive analytics lightning-fast for 
                    today’s modern analysts, radically reducing the time to unearth opportunities and risks.
                </p> 
              <a class="btn btn-primary py-2 text-white insight-button d-inline-block text-center">Know More</a>
            </div>
            <div class="col-md-5 pt-3">
                <img src="assets\images\services\img6.png"> </div>
            <div class="col-md-1"> </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid cbg-color ctext-color py-5">
            <div class="row ">
                    <div class="col-md-1"> </div>
                    <div class="col-md-10">
                        <h2 class="text-primary">Tools and Technologies</h2>
                    <p>We leverage the following tools and technologies related to BI and Big Data in implementing the solutions.</p>
                 </div>
                    <div class="col-md-1"> </div>
                </div>
                <div class="row text-center py-0">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <img src="assets\images\services\img7.jpg">
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
    </div>
</section>