<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 abou-us-banner">
                    <img src="assets/images/about-banner.jpg" class="">
            </div>
        </div>
    </div>
</section> -->
<section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 about-sec-2">
                <div class="">
                    <div class="row m-3 p-3">
                        <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                            <img src="assets/images/robot.png" class="">
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                            <div class="about-sec-2-text mt-5">
                                <h3 class="text-white mt-3">ABOUT US</h3>
                                <h5 class="text-white mt-3">
                                        Sonasoft Data Engineering Services is a best of breed consulting organization, with focuses in strategic advisory and roadmap, architecture, implementation, and post go live support capabilities around Big Data, Advanced Analytics, AI/ML, and Data Discovery & Visualization domains.
                                </h5>
                                <h3 class="text-white mt-5">OUR STORY</h3>
                                <h5 class="text-white mt-3">
                                        Our aim is to be first class in all aspects of the customer service we provide to our reseller and vendor partners.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-12  col-sm-6 col-lg-3 mb-4 mb-md-0">
                            <div class="col-12 about-us-client-sec p-3 text-center">
                                <div class="about-sec-clients p-3 ">
                                    <img src="assets/images/client.png"> 
                                </div>
                                <div>
                                    <h5 class="text-center text-white">SUNNY KHAN</h5>
                                    <p class="text-center text-white">
                                        EXECUTIVE OFFICER
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-sm-6 col-lg-3 mb-4 mb-md-0">
                                <div class="col-12 about-us-client-sec p-3 text-center">
                                        <div class="about-sec-clients p-3 ml-4">
                                            <img src="assets/images/client.png"> 
                                        </div>
                                        <div>
                                            <h5 class="text-center text-white">SUNNY KHAN</h5>
                                            <p class="text-center text-white">
                                                EXECUTIVE OFFICER
                                            </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-12  col-sm-6 col-lg-3 mb-4 mb-md-0 ">
                                <div class="col-12 about-us-client-sec p-3 text-center">
                                        <div class="about-sec-clients p-3 ml-4">
                                            <img src="assets/images/client.png"> 
                                        </div>
                                        <div>
                                            <h5 class="text-center text-white">SUNNY KHAN</h5>
                                            <p class="text-center text-white">
                                                EXECUTIVE OFFICER
                                            </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-12  col-sm-6 col-lg-3 mb-4 mb-md-0">
                                <div class="col-12 about-us-client-sec p-3 text-center">
                                        <div class="about-sec-clients p-3 ml-4">
                                            <img src="assets/images/client.png"> 
                                        </div>
                                        <div>
                                            <h5 class="text-center text-white">SUNNY KHAN</h5>
                                            <p class="text-center text-white">
                                                EXECUTIVE OFFICER
                                            </p>
                                        </div>
                                </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </section>