<section class="mt-5">
    <div class="container-fluid manufacture-div">
        <div class="row">
                <div class="col-12 p-5 industries_title ">
                        <div class="row">
                            <div class="col-10">
                                <!-- <p class="h4 text-primary font-weight-bold">
                                    INDUSTRY
                                </p> -->
                                <h1 class="h1 text-primary font-weight-bold">
                                        Cloud Transformation
                                </h1>
                            </div>
                        </div>
                </div>
        </div>
        
    </div>
</section>
<section>
    <div class="container-fluid manufacture-div mt-3">
        <div class="row">
                <div class="col-12  ">
                        <div class="row">
                            <div class="col-6 manufacture-text">
                                <div class="col-12 m-4">
                                        <p class="p-3 ml-5">
                                                In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                        </p>
                                        <p class="p-1 pl-3 ml-5">
                                                In manufacturing, advanced analytics is used to take a deep dive into historical process data, identify patterns and relationships among discrete process steps and inputs, and then optimize the factors that prove to have the greatest effect on yield.
                                        </p>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="col-12">
                                    <div class="manufacture-img p-3 animate-right">
                                        <img src="assets\images\services\mobile-app\m1.jpg"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</section>
<section class="industries_title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- <div class="col-12 ">
                        <h2 class="h2 text-white">Our Mobile App Development Services include:</h2>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="col-12  p-3 mobile-app-text">
                            <h3 class="h3 text-primary">
                                    Native App Development
                            </h3>
                            <ul class="">
                                <li>iOS App Development</li>
                                <li>Android App Development</li>
                                <li>Windows App Development</li>
                                <li>Mobile Apps Integration</li>
                                <li>Native App Enhancement, Testing, Support & Maintenance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                            <div class="col-12  p-3 mobile-app-text">
                                    <h3 class="h3 text-primary">
                                            Mobile Enablement
                                    </h3>
                                    <ul class="text-white">
                                        <li>Re-engineering of existing app to Mobile Platform</li>
                                        <li>Mobile Platform Migration</li>
                                        <li>Data migration</li>
                                      
                                    </ul>
                                </div>
                    </div>
                    <div class="col-3">
                            <div class="col-12  p-3 mobile-app-text">
                                    <h3 class="h3 text-primary">
                                            Cross-platform  Development
                                    </h3>
                                    <ul class="text-white">
                                        <li>Xamarin App Development</li>
                                        <li>PhoneGap App Development</li>
                                        <li>Cross-platform App Enhancement, Testing, Support & Maintenance</li>
                                        
                                    </ul>
                                </div>
                    </div>
                    <div class="col-3">
                            <div class="col-12  p-3 mobile-app-text">
                                    <h3 class="h3 text-primary">
                                            Enterprise Mobile  Development
                                    </h3>
                                    <ul class="text-white">
                                        <li>Progressive Web App (PWA) Development</li>
                                        <li>Mobile Web App Development</li>
                                        <li>Custom Reports and Dashboards</li>
                                       
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row p-5">
                    <div class="col-6">
                        <div class="col-12">
                            <h3 class="h3 text-primary">We also help Businesses with:</h3>
                            <ul class="text-white">
                                    <li>Enterprise mobile architecture</li>
                                    <li>Application UI architecture development</li>
                                    <li>Integration of existing legacy apps</li>
                                    <li>Compliance with industry standards (general and platform specific)</li>
                                    <li>Quality assurance and testing of mobile applications</li>
                                   
                                </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 ">
                            <p class="p-2 ">
                                    Anblicks aptitudes to deliver quality solutions and help the enterprise customers to get a faster return on investment. We help our customers address their business challenges, improve application performance and deliver engaging smartphone applications from our offshore mobile app development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>