<!-- retail  sec start -->
<section class="mt-5">
        <div class="container-fluid  cbg-color-heading">
            <div class="row"> 
                <div class="col-12 p-5 ">
                    <div class="row">
                        <div class="col-10">
                                <h1 class="font-weight-bold text-primary m-4 p-3 pb-4n ">Retail</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- retail sec end -->
    <section>
            <div class="container-fluid manufacture-div mt-3">
                <div class="row">
                        <div class="col-12  ">
                                <div class="row">
                                    <div class="col-6 manufacture-text">
                                        <div class="col-12 m-4">
                                                <p class="p-3 ml-5">
                                                        Every retailer has their vision of integrated analytics and insights ecosystem to be successful. 
                                                        Very few are able to lead the pack in conceptualizing, designing and implementing them. 
                                                        Our offerings are designed to help retailers rethink, evolve and achieve their vision.
                                                </p>
                                                <p class="p-3 ml-5">
                                                        Our analytics help you to understand, predict and react to consumer behavior. 
                                                        We maximize the collaboration between data science and marketing/merchandising with 
                                                        cutting-edge solutions such as predictive analytics, self-service analytics and data visualization.
                                                </p>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-12">
                                            <div class="manufacture-img p-3 animate-right">
                                                <img src="assets\images\industries\retails\img1.jpg"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </section>
    <section>
            <div class="container-fluid manufacture-div mt-3 manufacture-div-background">
                <div class="row">
                        <div class="col-12 ">
                                <div class="row">
                                    
                                    <div class="col-5">
                                        <div class="col-12  ml-5">
                                            <div class="manufacture-img p-4 animate-right">
                                                <img src="assets\images\industries\retails\img1.jpg"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 manufacture-text">
                                        <div class="col-12 m-4 ml-5">
                                                <h3 class="text-primary ml-3">Customer Lifetime Value</h3>
                                                <div class="ml-5">
                                                    <h4 class="text-white h5 ml-3">Our Solutions Feature are:</h4>
                                                    <ul class="p-2 ml-5 text-white" >
                                                        <li>
                                                            <strong  >Quantify Future Value –&nbsp;</strong>
                                                            <span>Predict the future value of a customer – even before she becomes one. 
                                                                    Focus on valuable customers and optimize your revenue stream</span>
                                                        </li>
                                                        <li><strong  >Increase Margins –&nbsp;</strong>
                                                            <span>Adjust individual marketing spend based on the financial value each customer</span>
                                                        </li>
                                                        <li><strong  >Segment by Value –&nbsp;</strong>
                                                            <span>Align your customer experience management system with various segments</span></li>
                                                    </ul>
                                                </div>
                                               
                                        </div>
                                    </div>
        
                                </div>
                        </div>
                </div>
            </div>
        </section>
        <section>
                <div class="container-fluid manufacture-div mt-3">
                    <div class="row">
                            <div class="col-12  ">
                                    <div class="row">
                                        <div class="col-6 manufacture-text">
                                            <div class="col-12 m-4">
                                                <h3 class="text-primary">Up-sell and Cross-sell </h3> 
                                                <div class="">
                                                        <h4 class=" h5 ml-3">Our Solutions Feature are:</h4>
                                                        <ul class="p-2 ml-5 " >
                                                            <li>
                                                                <strong  >Quantify Future Value –&nbsp;</strong>
                                                                <span>Predict the future value of a customer – even before she becomes one. 
                                                                        Focus on valuable customers and optimize your revenue stream</span>
                                                            </li>
                                                            <li><strong  >Increase Margins –&nbsp;</strong>
                                                                <span>Adjust individual marketing spend based on the financial value each customer</span>
                                                            </li>
                                                            <li><strong  >Segment by Value –&nbsp;</strong>
                                                                <span>Align your customer experience management system with various segments</span></li>
                                                        </ul>
                                                    </div> 
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="col-12">
                                                <div class="manufacture-img p-3 animate-right">
                                                    <img src="assets\images\industries\retails\img3.jpg"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
        </section>
        <section>
                <div class="container-fluid manufacture-div mt-3 manufacture-div-background">
                    <div class="row">
                            <div class="col-12 ">
                                    <div class="row">
                                        
                                        <div class="col-5">
                                            <div class="col-12  ml-5">
                                                <div class="manufacture-img p-4 animate-right">
                                                    <img src="assets\images\industries\retails\img4.jpg"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 manufacture-text">
                                            <div class="col-12 m-4 ml-5">
                                                    <h3 class="text-primary ml-3">Customer Lifetime Value</h3>
                                                    <div class="ml-5">
                                                        <h4 class="text-white h5 ml-3">Our Solutions Feature are:</h4>
                                                        <ul class="p-2 ml-5 text-white" >
                                                            <li>
                                                                <strong  >Quantify Future Value –&nbsp;</strong>
                                                                <span>Predict the future value of a customer – even before she becomes one. 
                                                                        Focus on valuable customers and optimize your revenue stream</span>
                                                            </li>
                                                            <li><strong  >Increase Margins –&nbsp;</strong>
                                                                <span>Adjust individual marketing spend based on the financial value each customer</span>
                                                            </li>
                                                            <li><strong  >Segment by Value –&nbsp;</strong>
                                                                <span>Align your customer experience management system with various segments</span></li>
                                                        </ul>
                                                    </div>
                                                   
                                            </div>
                                        </div>
            
                                    </div>
                            </div>
                    </div>
                </div>
            </section>
     
            <section>
                    <div class="container-fluid manufacture-div mt-3">
                        <div class="row">
                                <div class="col-12  ">
                                        <div class="row">
                                            <div class="col-6 manufacture-text">
                                                <div class="col-12 m-4">
                                                    <h3 class="text-primary">Merchandising </h3> 
                                                    <div class="">
                                                            <h4 class=" h5 ml-3">Our Solutions Feature are:</h4>
                                                            <ul class="p-2 ml-5 " >
                                                                <li>
                                                                    Assortment Optimization
                                                                </li>
                                                                <li>
                                                                    Pricing Optimization
                                                                </li>
                                                                <li>Pricing Comparison and Competitiveness</li>
                                                                <li>Abandoned cart analysis (for online stores)</li>
                                                                <li>Placement and Design Optimization</li>
                                                                <li>Demographics/Interest analysis</li>
                                                            </ul>
                                                        </div> 
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="col-12">
                                                    <div class="manufacture-img p-3 animate-right">
                                                        <img src="assets\images\industries\retails\img5.jpg"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
            </section>
      
                <section>
                        <div class="container-fluid manufacture-div mt-3 manufacture-div-background">
                            <div class="row">
                                    <div class="col-12 ">
                                            <div class="row">
                                                
                                                <div class="col-5">
                                                    <div class="col-12  ml-5">
                                                        <div class="manufacture-img p-4 animate-right">
                                                            <img src="assets\images\industries\retails\img6.jpg"> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 manufacture-text">
                                                        <div class="col-12 m-4 ml-5">
                                                                <h3 class="text-primary ml-3">Marketing</h3>
                                                                <div class="ml-5">
                                                                    <h4 class="text-white h5 ml-3">Our Solutions Feature are:</h4>
                                                                    <ul class="p-2 ml-5 text-white" >
                                                                        <li>
                                                                                Location based Marketing
                                                                        </li>
                                                                        <li>In store behavior </li>
                                                                    <li>Sentiment Analysis
                                                                    </li>
                                                                    <li>RFM (Recency, Frequency, Monetary) Analysis and Promotions</li> 
                                                                    <li>
                                                                        Campaign (offers and discounts, promotions) effectiveness by geo-location, segments
                                                                    </li>
                                                                    <li>
                                                                            Enhancing the multi-channel consumer experience
                                                                    </li>
                                                                    </ul>
                                                                </div>                
                                                        </div>
                                                    </div>  
                                            </div>
                                    </div>
                            </div>
                        </div>
            </section>
        
    