
<div class="container-fluid contact-sec-banner">
    <div class="row">
        <div class="col-12">
          <div class="img-sec">
              <img src="assets/images/contact/contact.jpg" >
          </div>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid contact-sec-2">
        <div class="row  ">
                <div class="col-md-6 pl-5 cbg-image ctext-color">				
                    <h2 class="mt-5 ctext-color se2-heading"><span >Sonasoft</span></h2>
                   
                    <!-- <hr style="border: 1px solid #c5a47e; width: 20%;  " > -->
                        <p class="ctext-color">1735 N. First Street, Suite 110<br>
                            San Jose, California 95112 U.S.A. <br>
                            <a class="" href="">info@urbaninfluence.com</a> <br>
                            <span>P</span> 206.219.5599  | <span>F</span> 206.973.5350
                        </p>
                </div>
                <div class="col-md-6 cbg-color">
                    <div>
                        <h2 class="justify-content-center mt-5 text-center" >Hit Us Up</h2>
                        <hr  class="sec2-heading2">
                        <div>
                            <form class="">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <input type="text" placeholder="First Name" name="firstname" class="cborder-btm form-control cbg-color ">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" placeholder="Last Name" name="lastname" class="form-control  cbg-color cborder-btm">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <input class="form-control  cbg-color cborder-btm" placeholder="Company Name" type="text">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                         
                                            <input type="email" placeholder="Youremail.com" name="email" class="form-control cborder-btm cbg-color">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number" placeholder="Phone" name="phone" class="form-control cborder-btm cbg-color">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <input type="text" placeholder="What's Up?" name="whatsup" class="form-control cborder-btm cbg-color">
                                            </div>
                                    
                                            <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control cbg-color cborder-btm" placeholder="2+8=?">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <input type="submit" class="btn btn-primary btn-lg">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- googlemap -->
<section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6341.803211805242!2d-121.915416!3d37.368505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb92e5cbeec3%3A0x252b9009f0aa7425!2s1735%20N%201st%20St%20%23110%2C%20San%20Jose%2C%20CA%2095112%2C%20USA!5e0!3m2!1sen!2sin!4v1569738437468!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<!-- googlemap -->

<!-- company branches -->
<section>

<div class="container-fluid contact-sec-branches py-5 text-center">
<div class="row ">
<div class="col-md-12">

<h1 class="text-white ">OUR BRANCHES</h1>
</div>
</div>

<div class="row pt-4"> 
<div class="col-md-6 col-lg-4 col-sm-6"> 
<div class="location-icon d-flex justify-content-center ">
<div class="text-center py-3 icon-outter icon-bg-color" >
<span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
</div>
</div>
<div class="location-title py-2"> 
<h3 class=" text-uppercase ctext-color-branch text-white" > California</h3>
<div class="py-1" >
<h5 class="text-white text-uppercase subtitle">Cornerstone Technologies</h5>
</div>
</div>
<div class="location-address">
<p class="ctext-color2-branch text-white" >1735 N. First Street, Suite 110<br>
San Jose, California 95112<br>
Main: +1 408.583.1600<br>
Fax: +1 408.317.2001</p>
</div>
</div>
<div class="col-md-6 text-center col-lg-4 col-sm-6">
<div class="location-icon d-flex justify-content-center" >
<div class="text-center pt-3 pb-3 icon-outter icon-bg-color" >
<span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
</div>
</div>
<div class="location-title py-2">

<h3 class=" text-uppercase ctext-color-branch text-white" >India</h3>
<div class="py-1">
<h5 class="text-white text-uppercase subtitle">International Sonasoft Development Center</h5>
</div>
</div>
<div class="location-address">
<p class="ctext-color2-branch text-white" >#4, Bellary Road, 12th KM <br>
Jakkur Bangalore - 560064
</p>
</div>
</div>
<div class="col-md-6 text-center col-lg-4 col-sm-6"> 
<div class="location-icon d-flex justify-content-center" >
<div class="text-center pt-3 pb-3 icon-outter icon-bg-color" >
<span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
</div>
</div>
<div class="location-title py-2">

<h3 class=" text-uppercase ctext-color-branch text-white" > India</h3>
<div class="py-1">
<h5 class="text-white text-uppercase subtitle ">Sonasoft AI Development Center</h5>
</div>
</div>
<div class="location-address">
<p class="ctext-color2-branch text-white" >316 Arcade, Brigade Metropolis<br>
Garuda Charpalya, Whitefield<br>
Bangalore - 560048 India 
</p>
</div>
</div>
</div>
</div>
</section>

