
<div class="container-fluid contact-sec-banner">
    <div class="row">
        <div class="col-md-6 sub-sec-1 ">
           <div class="row h-100 justify-content-center align-content-center">
                <h2 class="">
                        <span><strong>Contact us</strong></span>
                    </h2>            
           </div>
            <div class="row">
                <p>
                We want to hear from you. Please leave us a message, and we'll reply as soon as we can.
                </p>
            </div>
        </div>
        <div class="col-md-6">
          <div class="img-sec">
              <img src="assets/images/contact/contact-us.png"  >
          </div>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid contact-sec-2">
        <div class="row  ">
                <div class="col-md-6 pl-5 cbg-image ctext-color">				
                    <h2 class="mt-5 ctext-color"><span style="border-bottom: 3px solid #c5a47e; width: 20%;">Sonasoft</span></h2>
                   
                    <!-- <hr style="border: 1px solid #c5a47e; width: 20%;  " > -->
                        <p class="ctext-color">1735 N. First Street, Suite 110<br>
                            San Jose, California 95112 U.S.A. <br>
                            <a class="" href="">info@urbaninfluence.com</a> <br>
                            <span>P</span> 206.219.5599  | <span>F</span> 206.973.5350
                        </p>
                </div>
                <div class="col-md-6 cbg-color">
                    <div>
                        <h2 class="justify-content-center mt-5" style="text-align: center">Hit Us Up</h2>
                        <hr style="border: 1px solid #c5a47e; width: 10%; " >
                        <div>
                            <form class="">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <input type="text" placeholder="First Name" name="firstname" class="cborder-btm form-control cbg-color ">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" placeholder="Last Name" name="lastname" class="form-control  cbg-color cborder-btm">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <input class="form-control  cbg-color cborder-btm" placeholder="Company Name" type="text">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                         
                                            <input type="email" placeholder="Youremail.com" name="email" class="form-control cborder-btm cbg-color">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number" placeholder="Phone" name="phone" class="form-control cborder-btm cbg-color">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <input type="text" placeholder="What's Up?" name="whatsup" class="form-control cborder-btm cbg-color">
                                            </div>
                                    
                                            <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control cbg-color cborder-btm" placeholder="2+8=?">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- googlemap -->
<section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6341.803211805242!2d-121.915416!3d37.368505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb92e5cbeec3%3A0x252b9009f0aa7425!2s1735%20N%201st%20St%20%23110%2C%20San%20Jose%2C%20CA%2095112%2C%20USA!5e0!3m2!1sen!2sin!4v1569738437468!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<!-- company branches -->
<section>
    <div class="container-fluid contact-sec-branches ">
        <div class="row">
            <div class="col-md-12">
                    <div class="space-40"></div>
                    <div class="space-40"></div>
                <h1 class="text-white text-center" style="">OUR BRANCHES</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2"></div>
            <div class="col-md-8">
                    <div class="space-40"></div>
                <p class="text-center text-white text-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
        
            <div class="col-md-4 text-center">
                
                <div class="space-40"></div>
                <div class="location-icon " style="margin-left: 14em;">
                    <div class="text-center pt-3 pb-3 icon-outter icon-bg-color" >
                        <span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
                    </div>
                </div>
                <div class="location-title">
                    <div class="space-40"></div>
                    <h3 class=" text-uppercase" style="color: #00bcd4;"> California</h3>
                    <div >
                        <h5 class="text-white text-uppercase subtitle">Cornerstone Technologies</h5>
                    </div>
                </div>
                <div class="location-address">
                    <p class="" style="color: #99a9b5;">1735 N. First Street, Suite 110<br>
                            San Jose, California 95112<br>
                            Main: +1 408.583.1600<br>
                            Fax: +1 408.317.2001</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                
                    <div class="space-40"></div>
                    <div class="location-icon " style="margin-left: 14em;">
                            <div class="text-center pt-3 pb-3 icon-outter icon-bg-color" >
                                <span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
                            </div>
                        </div>
                    <div class="location-title">
                        <div class="space-40"></div>
                        <h3 class=" text-uppercase" style="color: #00bcd4;">India</h3>
                        <div >
                            <h5 class="text-white text-uppercase subtitle">International Sonasoft Development Center</h5>
                        </div>
                    </div>
                    <div class="location-address">
                        <p class="" style="color: #99a9b5;">#4, Bellary Road, 12th KM <br>
                                Jakkur Bangalore - 560064
                           </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                
                        <div class="space-40"></div>
                        <div class="location-icon " style="margin-left: 14em;">
                                <div class="text-center pt-3 pb-3 icon-outter icon-bg-color" >
                                    <span class="fa fa-map-marker text-center icon-inner icon-bg-color" ></span>
                                </div>
                            </div>
                        <div class="location-title">
                            <div class="space-40"></div>
                            <h3 class=" text-uppercase" style="color: #00bcd4;"> India</h3>
                            <div >
                                <h5 class="text-white text-uppercase subtitle">Sonasoft AI Development Center</h5>
                            </div>
                        </div>
                        <div class="location-address">
                            <p class="" style="color: #99a9b5;">316 Arcade, Brigade Metropolis<br>
                                    Garuda Charpalya, Whitefield<br>
                                    Bangalore - 560048 India 
                            </p>
                        </div>
                    </div>
        </div>

    </div>
</section>
