<section class="my-5">
        <div class="container-fluid cbg-color">
            <div class="row">
                    <div class="col-12 p-5  ">
                            <div class="row">
                               
                                <div class="col-10">
                                    <h1 class="h1 text-primary font-weight-bold pl-5">
                                        IoT Analytics
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container-fluid py-5 ctext-color">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <p>
                        Anblicks can help build intelligent connected devices and software solutions that 
                        enable IoT and interoperate with the existing internet infrastructure for visual Analytics 
                        and dash boards and for business intelligence reporting.
                    </p>
                    <p>
                        
                        These connected or ‘Smart Devices’ are embedded with sensors or PLC’s (Programmable Logic Controllers).
                    </p>
                </div>
                <div class="col-md-7">
                    <div class="col-12">
                        <img src="assets\images\services\img8.png">
                      </div>
                </div>
               
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid py-5 cbg-color ctext-color">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3 class="text-primary">IoT Advisory</h3>
                    <p>Internet of things is not just connecting the devices or things anymore. 
                        Anblicks can help you build IoT solutions based on your industry, business need, 
                        identify critical components and provide advisory services on usability, by developing overall 
                        design and architecture of the solution and provide roadmap for implementation. 
                        We can also develop a proof of concept or proof of value based on your business need.</p>
                     <h3 class="text-primary pt-2">Operational Intelligence Analysis Services</h3>
                     <p>
                        Raw data collected from the sensors attached to the machines are fed to big data eco system for further analysis and develop deep learning, machine learning and even build dashboards and real time visualization of data based metrics.
                     </p>
                </div>
                <div class="col-md-5">
                    <h3 class="text-primary">IoT Design & Implementation</h3>
                    <p>
                        Anblicks can help organizations by developing IoT solution with best and cost effective sensors or PLC’s depending on the business need, design the system for collecting the data from those devices for further analysis and provide Visualization, Dashboarding, and Business intelligence reporting to assist decision making process.
                    </p>
                    <h3 class="text-primary pt-2">Visualization, Big Data & Analytics Services</h3>
                    <p>Anblicks can help organizations to feed the huge streams of data collected from IoT connected devices to time series data bases, unstructured data and feed in to big data eco system of customer’s choice and help building visualization charts, metrics, dashboard and even business intelligence reports.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>