<section class="my-5">
        <div class="container-fluid cbg-color">
            <div class="row">
                    <div class="col-12 p-5  ">
                            <div class="row">
                                <!-- <div class="col-1"></div> -->
                                <div class="col-10">
                                    <h1 class="h1 text-primary font-weight-bold pl-5">
                                            DevOps Automation
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
</section>
<section>
        <div class="container-fluid ">
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="">
                        <img class="col-10" src="assets\images\services\devops.jpg">
                    
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
</section>
<section>
    <div class="container-fluid py-3 ctext-color">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10 col-sm-12">
                 <h2 class="text-primary">   Overview</h2>
                  <p>  
                      Conventional enterprise implementations were often tied to large-scale systems and are built over time with releases spanned across months. The reality in the Digital era is quite different.
                 </p>
                 <p>
                     At Anblicks, we leverage our experience in Open Source technologies and software delivery to create a team proficient in DevOps practice. We leverage a set of tools and processes instilled from our expertise to strategize and offer end to end DevOps implementation to ensure continuous delivery to our customers.
                 </p>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 cbg-color ctext-color">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-sm-12">
                <h3 class="text-primary">Our DevOps Services</h3>
                <ul>
                    <li><strong>Advisory Services – </strong>DevOps feasibility study for your ongoing development. This study includes multiple assessments at various levels, infrastructure management and cost optimization recommendations.</li>
                    <li><strong>Integration and Migration – </strong> We help enterprise migrate their legacy applications using our common platform for DevOps cycle. Integrate your application with other solutions in your ecosystem including ERP, CRM, HRMS, ECM and more.</li>
                    <li><strong>Staffing – </strong>Our skilled team of DevOps technical professionals would consult and advise you on the best practices and effective change management strategies that would best enhance your delivery model.</li>
                    <li><strong>End to End Support – </strong>Managing complete lifecycle of product and service delivery. Use Agile practices for your software maintenance to reduce the number of iterations and for more organized release strategy</li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-12">
                    <h3 class="text-primary">Our Expertise in DevOps Tools</h3>
                    <ul>
                        <li><strong>Chef  – </strong>At Anblicks, we leverage Chef on our On-premise as well as cloud environments allowing DevOps teams to work on their deliverables. Our automation service offers you a fair understanding of how Chef would work in your environment.</li>
                        <li><strong>Puppet  – </strong> Puppet automates every step of the delivery process starting from the provisioning of virtual or physical machines to orchestration and node management. Our team has the expertise of deploying various applications within environments that are powered by Puppet. We have been able to deliver applications faster while maintaining quality and stability.</li>
                        <li><strong>Jenkins – </strong> Our DevOps Team leverages Jenkins for continuous integration and testing. It ensures that the quality of code being deployed is always up to the standards and avoids rework.</li>
                        <li><strong>Docker – </strong>At Anblicks, we leverage Docker as a containerization platform to accelerate application release. Our experts handle the entire cycle from conceptual to implementation to managed services regardless of the size of your environment.</li>
                    </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 ctext-color">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10 col-sm-12">
                <h3 class="text-primary">Benefits</h3>
                <ul>
                    <li><strong>Reduced Time to Market – </strong>Pace to respond to consumer requests with respect to features and functionality. Quicker to onboard new applications and platforms.</li>
                    <li><strong>Application stability and quality – </strong>Reduced errors with automation and standardization of processes</li>
                    <li><strong>Faster Turnaround – </strong>Efficient team due to less time spent in reinventing the wheel.</li>
                    <li><strong>Built to Scale for High Volume and Variety – </strong>Panoramyx™ can quickly and easily connect new data sources and store data into dynamic schema-less data repository that can scale up to 100+ nodes, often in multiple data centers sustaining 100,000+ database read and writes per second while maintaining strict latency SLAs.</li>
                    <li><strong>Rapid & Agile Deployment – </strong>On-boarding new data sources quickly and deploy it on the cloud, multi-tenant hosted or on-premise.</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            
        </div>
    </div>
</section>