<section class="mt-5">
    <div class="container-fluid">
        <div class="row">
                <div class="col-12 insights-title p-4">
                        <h1 class="text-primary m-3 ml-2 p-3 pb-4n font-weight-bold">Insights, Experience & Accelerate for True Digital Transformation</h1>
                </div>
            <div class="col-12 mt-5">
                    <div class="row ">
                            <div class="col-md-4 col-12 px-5 ">
                                <div class=" col-12  insight-div py-3 ">
                                    <div class="insight-div-text">
                                        <h3 class="text-white text-center p-2 mb-0">INSIGHTS</h3>
                                        <h5 class="text-white text-center">Data Analytics & BI</h5>
                                        <div class="text-center m-4 insight-button-div">
                                               <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4 col-12 px-5 ">
                                    <div class=" col-12  experience py-3 ">
                                        <div class="insight-div-text">
                                            <h3 class="text-white text-center p-2 mb-0">EXPERIENCE</h3>
                                            <h5 class="text-white text-center">CX with mobile enablement</h5>
                                            <div class="text-center m-4 insight-button-div">
                                                   <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                                            </div>
                                        </div>
                                    </div> 
                            </div>
                            <div class="col-md-4 col-12 px-5 ">
                                    <div class=" col-12  accelerate py-3 ">
                                        <div class="insight-div-text">
                                            <h3 class="text-white text-center p-2 mb-0">ACCELERATE</h3>
                                            <h5 class="text-white text-center">Automation & Integrations</h5>
                                            <div class="text-center m-4 insight-button-div">
                                                   <a href="#" class="insight-button d-inline-block text-center text-white px-4">Explore</a>
                                            </div>
                                        </div>
                                    </div> 
                            </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid ">
        <div class="row py-5">
            <div class="col-12  ">
                <div class="row digital-partners p-5 ">
                        <div class="col-12">
                                <h1 class="text-white text-center p-3 pb-4n">Anblicks-at-a-Glance</h1>
                        </div>
                        <div class="col-12 col-md-3 px-5 establishment-div rounded">
                            <div class="col-12 py-5 animate-bottom bg-success">
                                <div class="p-4">
                                    <h2 class="text-white text-center">2004</h2>
                                    <p class="text-white text-center">Established in Texas</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 px-5 ">
                                <div class="col-12 bg-info py-5 animate-bottom">
                                    <div class="p-4">
                                        <h2 class="text-white text-center">300 +</h2>
                                        <p class="text-white text-center">Established in Texas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 px-5 ">
                                    <div class="col-12  bg-dark  py-5 animate-bottom">
                                        <div class="p-4">
                                            <h2 class="text-white text-center">400 +</h2>
                                            <p class="text-white text-center">Strong Delivery Team</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 px-5 ">
                                        <div class="col-12   bg-danger py-5 animate-bottom">
                                            <div class="p-4">
                                                <h2 class="text-white text-center">4</h2>
                                                <p class="text-white text-center">Established in Texas</p>
                                            </div>
                                        </div>
                                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row ">
                <div class="col-12">
                        <h1 class="text-primary font-weight-bold text-center p-3 pb-4n">Our Customers Speak</h1>
                </div>
            <div class="col-1">

            </div>
            <div class="col-10 ">
                    <div id="carouselExampleIndicators1" class="carousel slide carousel-slide-height"  data-ride="carousel">
                            <!-- <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol> -->
                            <div class="carousel-inner ">
                              <div class="carousel-item active" >
                           
                                  <div class="col-12 px-0 banner-img4 cheight p-5" >
                                    <!-- <img src="assets/images/home/image1.jpg" class="" style="width: 100%; height: auto; position: absolute;"> -->
                                        <div class=" py-5  p-5">
                                            <div class="animate-bottom py-3 ">
                                                    <h4 class="text-white text-center py-3 px-5 ">
                                                    Implementing Lead Scoring to Prioritize Your Customers     
                                                    </h4>
                                                    <p class="text-white text-center" >
                                                            know the importance of lead scoring in predictive marketing analytics and how to implement it…
                                                    </p>
                                                    <div class=" text-center ">
                                                            <a href="#" class="insight-button d-inline-block text-center text-white px-4 py-3" >Read More</a>
                                                    </div>
                                            </div>

                                        </div>
                                       
                                  </div>
                     
                              </div>
                              <div class="carousel-item" >
                                <div class="col-12 px-0 banner-img5 cheight  p-5" >
                                    <div class=" py-5  p-5">
                                        <div class="animate-bottom py-3">
                                            <h4 class="text-white text-center py-3 px-5 ">Anblicks and Cappius Announces Merger
                                            </h4>
                                            <p class="text-white text-center ctext-align">
                                                    Cappius announced today its merger with Anblicks to accelerate business sustenance, optimization, and innovation services…
                                            </p>
                                            <div class="text-center  ">
                                                    <a href="#" class="insight-button d-inline-block text-center text-white px-4 py-3" >Read More</a>
                                            </div>
                                        </div>

                                    </div>
                                        
                                    </div>           
                              </div>
                              <div class="carousel-item">
                                    <div class="col-12 px-0 banner-img6 cheight  p-5" >
                                            <div class=" py-5   p-5">
                                                <div class="animate-bottom py-3">
                                                    <h4 class="text-white text-center py-3 px-5">
                                                            CapptixAI enhances Multi-channel discovery &amp; interaction analytics by integrating with various live chat products &amp; applications…
                                                    </h4>
                                                    <p class="text-white text-center">
                                                            Using Predictive Marketing Analytics
                                                    </p>
                                                    <div class="text-center  ">
                                                            <a href="#" class="insight-button d-inline-block text-center text-white px-4 py-3" >Read More</a>
                                                    </div>
                                                </div>

                                            </div>
                                                
                                    </div>  
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                    </div>
                                
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>

</section>