<section class="my-5">
        <div class="container-fluid cbg-color">
            <div class="row">
                    <div class="col-12 p-5  ">
                            <div class="row">
                        
                                <div class="col-10">
                                    <h1 class="h1 text-primary font-weight-bold pl-5">
                                            Content Management
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </section>
<section>
        <div class="container-fluid ctext-color ">
            <div class="row text-center">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-sm-12 ">
                    <div class="">
                        <img class="col-8" src="assets\images\services\content-management.jpg">
                    
                    </div>
                </div>
                <div class="col-md-1"></div>
               
            </div>
            <div class="row py-5">
              <div class="col-md-1"> </div>
              <div class="col-md-10 col-sm-12" >
                <p>Anblicks develop performant, secure and scalable enterprise applications using full stack leveraging the cloud infrastructure. We provide on demand access to information via various channels such as Mobile, Web and API.</p>
                <p>
                 Our enterprise application development services focus on building enterprise applications that are tailored towards ensuring maximizing performance at low costs</p>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row pb-4">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-sm-12">
                  <ul class="px-0">
                      <li><strong>Flexible App Development – </strong>Our global teams can develop a prototype or MVP (minimum viable product) within 3 months following Agile and continuous application delivery processes</li>
                      <li><strong>UX Strategy & Design – </strong>We develop innovative concepts and prototypes for delivering optimal User Experience Design</li>
                      <li><strong>Full Stack Development – </strong>We help our clients by delivering rapid application using MEAN (MongoDB, ExpressJS, AngularJS and NodeJS), LAMP (Linux, Apache, MySQL and PHP) and Java stacks</li>
                      <li><strong>Content Management – </strong>We deliver highly robust and reliable content management systems like Document Management (DM), Web Content Management (WCM), Digital Asset Management (DAM), Enterprise Search and Business Process Management (BPM)</li>
                  </ul>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li><strong>Portals and Ecommerce – </strong>We develop portals that delivers Multi-tenancy, Internationalization and also aligned for your E-Commerce initiatives</li>
                        <li><strong>Security – </strong>We secure your enterprise applications with Single sign-on, Oauth-2, Encryption, Audit logs</li>
                        <li><strong>Application Support – </strong> We offer Value Engineering (Enhancements), Sustenance Engineering (Bug fixing) and Help Desk (Support) services to our global clients</li>
                        <li><strong>Mobile Development – </strong>We develop mobility solutions using connected devices (IoT)</li>
                        <li><strong>Cloud Transformation – </strong>We integrate your business with cloud and develops informed dashboards & analytics, portals and APIs</li>
                        <li><strong>DevOps – </strong>We leverage various DevOps tools to radically shorten your application release cycles and provide you with full control of your application deployed on various servers</li>

                    </ul>  
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid cbg-color ctext-color py-5" >
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3 class="text-primary">Technologies</h3>
                    <h5 class=" ">We leverage the following enterprise quality Products to build our ECM solutions:</h5>
                 <ul>
                     <li>
                        Microsoft SharePoint (Commercial ECM)
                     </li>
                     <li>WordPress (Open Source WCM)</li>
                     <li>Nuxeo (Open Source ECM)</li>
                     <li>eXo Platform (Open Source Collaboration)</li>
                     <li>Apache Solr (Open Source Enterprise Search)</li>
                     <li>BonitaSoft (Open Source BPM and Workflow</li>
                     <li>Mulesoft (open source application integration)</li>
                 </ul>
                </div>
                <div class="col-md-5">
                    
                    <div class="col-12">
                        <div class="manufacture-img p-3 animate-right">
                            <img src="assets\images\services\img10.png"> 
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>