<section class="mt-5">
        <div class="container-fluid manufacture-div">
            <div class="row">
                    <div class="col-12 p-5 industries_title ">
                            <div class="row">
                                <div class="col-10">
                                    <!-- <p class="h4 text-primary font-weight-bold">
                                        INDUSTRY
                                    </p> -->
                                    <h1 class="h1 text-primary font-weight-bold">
                                            Enterprise Application Integration
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-7 offset-3">
                                <div class="manufacture-img p-3 animate-right">
                                        <img src="assets\images\services\enterprice.jpg"> 
                                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="industries_title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- <div class="col-12 ">
                                <h2 class="h2 text-white">Our Mobile App Development Services include:</h2>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="col-12  p-3 mobile-app-text">
                                    <h3 class="h3 text-primary">
                                            Native App Development
                                    </h3>
                                    <p>
                                            Leveraging our years of experience with integrating a wide range of disparate applications, and our expertise in various technologies and integration tools, we help you build the ideal integration roadmap. Our holistic consulting services ensure that the integrations are driven by real business context and are in line with your business processes and strategy.
                                    </p>
                                </div>
                            </div>
                            <div class="col-3">
                                    <div class="col-12  p-3 mobile-app-text">
                                            <h3 class="h3 text-primary">
                                                    Native App Development
                                            </h3>
                                            <p>
                                                    Leveraging our years of experience with integrating a wide range of disparate applications, and our expertise in various technologies and integration tools, we help you build the ideal integration roadmap. Our holistic consulting services ensure that the integrations are driven by real business context and are in line with your business processes and strategy.
                                            </p>
                                        </div>
                            </div>
                            <div class="col-3">
                                    <div class="col-12  p-3 mobile-app-text">
                                            <h3 class="h3 text-primary">
                                                    Integration Assessment & Maintenance
                                            </h3>
                                            <p>
                                                    We perform rigorous system integration testing to ensure seamless data exchange between different applications and related systems. At the same time, our QA experts ensure that individual modules, interfaces, reporting, operations and other functionalities perform as expected.
                                            </p>
                                        </div>
                            </div>
                            <div class="col-3">
                                    <div class="col-12  p-3 mobile-app-text">
                                            <h3 class="h3 text-primary">
                                                    Integration Testing
                                            </h3>
                                            <p>
                                                    Our health assessment solutions ensure any changes in the underlying systems – minor system changes or entire migration process – are handled well in time to maintain the correctness of EAI Dashboards.
                                            </p>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="row p-5">
                                <div class="col-6">
                                    <div class="col-12">
                                        <h3 class="h3 text-primary">We also help Businesses with:</h3>
                                        <ul class="">
                                                <li>Enterprise mobile architecture</li>
                                                <li>Application UI architecture development</li>
                                                <li>Integration of existing legacy apps</li>
                                                <li>Compliance with industry standards (general and platform specific)</li>
                                                <li>Quality assurance and testing of mobile applications</li>
                                               
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-12 ">
                                        <p class="p-2 ">
                                                Anblicks aptitudes to deliver quality solutions and help the enterprise customers to get a faster return on investment. We help our customers address their business challenges, improve application performance and deliver engaging smartphone applications from our offshore mobile app development services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>