
<section class="my-5">
        <div class="container-fluid cbg-color">
            <div class="row">
                    <div class="col-12 p-5  ">
                            <div class="row">
                                <!-- <div class="col-1"></div> -->
                                <div class="col-10">
                                    <h1 class="h1 text-primary font-weight-bold pl-5">
                                            Data Analytics
                                    </h1>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>
    </section>
<section>
    <div class="container-fluid ">
        <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                <div class="">
                    <img src="assets\images\services\img1.jpg">
                
                </div>
            </div>
            <div class="col-md-1"></div>
           
        </div>
        <div class="row py-5">
          <div class="col-md-1"> </div>
          <div class="col-md-10" >
            <p>The growth of data is being measured in the same scale as population census, 
                study of celestial bodies and behavioral science. They are huge in size (Volume), 
                abstract and include numerous factors (Variety and Complexity), and are growing 
                instantaneously (Velocity) as we speak.</p>
            <p>
                 Anblicks helps you to manage this sheer scale of data with Big Data Analytics. 
                 Our solutions are powered by the right mix of Big Data and Business Intelligence 
                 components allowing the enterprise to leverage the maximum out of a particular use case.</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-12">
                    <img src="assets\images\services\img2.jpg">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 cbg-color ctext-color">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                            <h3 class="text-primary">Big Data Strategy</h3>
                            <ul>
                                <li>
                                     Every new technology requires a powerful strategy and Big Data is not an exception.
                                </li>
                                <li>As Big Data services are in trend, its adoption is also rapid. Though there are endless success stories,
                                     it is still essential to have an effective adoption strategy for your business.</li>
                                <li>We help determine the use cases for Big Data services & further craft a good strategy for your organization.</li>
                                <li>The entire strategy is built in close collaboration with the key stakeholders of your company. 
                                    This ensures that their requirements are fulfilled & are aligned with big data and analytic solutions.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-primary">Big Data Architecture</h3>
                            <ul>
                                <li> Once a clear strategy & use of big data services are defined, this is the time to develop a comprehensive architecture that works well for the primary set of applications.</li>
                                <li> Big data analytic services can also be expanded easily for the future applications.</li>
                                <li> Our consultants possess immense experience as big data service provider. They work closely with customers and provide them integrated big data solutions, 
                                    which encompasses unstructured & structured data and various other transactional data sources.</li>
                                <li> We also suggest big data and analytic solutions that will work the best as per your needs.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-primary">Proof Of Concept</h3>
                            <ul>
                                <li>
                                  Once the design and architecture are received, it is good to develop a POC (proof of concept) or POT (proof of technology) application.</li>  
                                <li> The proof of concept is a prototype, which shows that the proposed big data solution and technology stack will serve your requirements. 
                                      In such phase, the application’s small scale version or a specific module is tested and implemented.</li>  
                                <li> We set goals, measure, implement and as well as evaluate the outcomes of POC.
                                </li>
                            </ul>

                        </div>

                    </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row pt-5">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <ul>
                    <li><strong> Dashboards and KPIs:</strong> A Dashboard is rich in the Visual representation of the key performance indicators (KPIs) that decision makes use to manage, 
                            collaborate with other functions and efficiently run their functions. We help implement appealing, crisp dashboards that helps decision makes in 
                            planning and improving business processes.</li>
                    <li>
                        <strong>Multi-dimensional analyses:</strong> We help in developing multi-dimensional OLAP data sources that will enable Roll-ups and 
                            drill-downs as well as Slice and dice of various measures in an enterprise.
                    </li>
                </ul>
        
            </div>
            <div class="col-md-5">
                <ul>
                    <li><strong> Reporting:</strong> We implement self-service, end-to-end bi reporting. We help turn your business into a data-driven enterprise with interactive reporting with filters, dynamic visualizations, 
                        self-service BI that has the quick turn-around.
                          </li>
                    <li><strong>BI Rationalization:</strong> With time, static reports get proliferated, some reports get dated and some data assets lose their relevance.
                         We identify the non-performing assets and retire them from the eco-system so that the most relevant information is available at any point in time.</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 ctext-color">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <p>
                    Data warehousing allows for answering questions across enterprise functions. We perform Evaluation, Assessment 
                    and Diagnostics of the current DW landscape, provide Solution Architecture and Design, conduct performance assessments 
                    and create improvement roadmap, assess the Technology Architecture (Loosely coupled systems, Data Appliance or Cloud).
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="col-12">
                <img src="assets\images\services\img3.jpg">
              </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5 cbg-color ctext-color">
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                <h3 class="text-primary">Data Acquisition</h3>
                  <ul>
                      <li>
                         <strong> Data Sourcing:</strong> Managing data sourcing has become challenging due to the explosion in the varieties of Data Sources. We have the ability to handle Streaming or Log Data, Machine or Sensor data, Harvest Web content utilizing variety of scrapping/crawling and search and develop/utilize Data APIs to subscribe and insert from other data service providers
                      </li>
                      <li>
                         <strong> Data Integration and Transformation:</strong> We develop not only highly performant ETL, data virtualization, data wrangling and Munging involving desperate source systems to provide a unified and consistent view of enterprise data assets.
                      </li>
                      <li>
                           <strong> Data Standardization:</strong> We provide the services for cleansing, normalizing, standardizing and enriching a messy data. This includes Data Profiling, Cleansing, Deduplication, and Enrichment. In addition, we provide data wrangling services like merging, transform Data Structures/types, Parse, missing value imputation, cast and melt, aggregation.
                      </li>
                      <li>
                          <strong>  Data Migration:</strong> We can strategize, build and migrate either storage and data migration with minimally invasive cut-overs. This includes Datamart and system rationalizations.
                      </li>
                  </ul>
            </div>
            <div class="col-md-5">
                <h3 class="text-primary">Data Warehousing</h3>
                <ul>
                    <li><strong>Data Warehousing: </strong>Build and deploy high performant, high-quality data structures that could yield decisions by integrating data from many Internal/External transactional systems. In the emerging architecture, we could integrate/enrich data from public domains.</li>
                    <li><strong>Master Data Management:</strong>Reference data proliferation within an enterprise result in inconsistent performance measurements. We have the capability to create data hubs for master entities and processes to synchronize changes to the master data.</li>
                    <li><strong>Data Management:</strong> Our approach to Data management comes with a realization that Data is the new oil. We have experts who help with managing and maintaining large databases and ensure their security, integrity, and performance.</li>
                    <li><strong>Data Migration:</strong>We evolved best practices around Data Governance, tools and techniques for ensuring Data quality. We ensure Accuracy, Completeness, recency, relevance, Consistency across data sources, Reliability and accessibility of Data</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row py-5">
            <div class="col-md-1"> </div>
            <div class="col-md-10">
                <h3 class="text-primary">Tools and Technologies</h3>
            <p>We leverage the following tools and technologies related to BI and Big Data in implementing the solutions.</p>
         </div>
            <div class="col-md-1"> </div>
        </div>
        <div class="row text-center">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <img src="assets\images\services\img4.png">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</section>