
/*  section-box3 start */


.change-margin{
    margin-right: -1px;
    margin-left: -1px;
}



.cborder{
    border: 2px solid black;
  font-size: 20px;
}
.chng-color:hover{
background-color:#001a3f ;

color: white!important;
}
.sub-heading{
    font-weight: 400; 
    color: #00588f;
    font-size: 30px;
}
.sec-3 p{
    font-size: 18px;
    font-weight: 390;
}
.sec-3 a{
    font-weight: 500;
}

/*  section-box3 end */
/*  section-box4 start */
.sec-4{
    width: 100%;
    /* height: 500px; */
     background-image: url('../../assets/images/home/Poly-Background15.jpg');
     background-size: cover!important;
     background-position: center!important;
}
.sec-4 a{
  border: 2px solid white;
  color: #fff;
  font-weight: 500;
  
}
.sec-4 a:hover{
    background-color: white;
    color: #001a3f!important;
}
.sec-4 img{
    width:100%;
    height: 70px;
}
/*  section-box4 end */
/*  section-box5 start */
.sec-5 img{
    font-size: 21px; 
    font-weight: 500;
    text-align: justify; 
    color: black;
    width: 100%;

}
.sec-5 a{
    font-size: 21px;
    font-weight: 500;
    color: black;
    opacity: .9;

}
.cbtn{
    border: 2px solid #001a3f;
    color: #001a3f;
}
.cbtn:hover{
    background-color: #001a3f;
    color: white!important;
}
/*  section-box5 end */
/*  section-box6 start */
.sec-6{
    width: 100%;
    /* height: 590px; */
     background-image: url('../../assets/images/home/Poly-Dot-Bckg-Light.jpg');
     background-size: cover!important;
     background-position: center!important;
}
.sec-6 img{
    width: 100%;
    height: 200px;
}
.sec-6 a{
    font-size: 21px;
    font-weight: 500;
    color: white;
    opacity: .9;

}
.cbtn-news{
    border: 1px solid white;
}
.cbtn-news:hover{
    background-color: white;
    color: #001a3f!important;
   
}
/*  section-box6 end */
@media (max-width: 576px) { 
 
    .home-banner-section img{
        max-width: 100%;
        height: auto;
    }
    .home-sec-2-div img{
        max-width: 100%;
        height: auto;
    }
    .home-banner-text h1{
        font-size: 32px !important;
        letter-spacing: 0px !important;
       
    }
    .sec-4 img{
        max-width: 100%;
        height: auto;
        /* width: 130px;
        height: 40.7333px; */
    }
   p{
       font-size: 18px;
   }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px !important;
        letter-spacing: .018666666666666665px;
    }
    a{
        font-size: 18px !important;
    }
    .sec-5 img{
        /* width: 329.5px;
        height: 171px; */
        max-width: 100%;
        height: auto;
    }
    .sec-6 img{
        /* width: 337.5px;
        height: 166px; */
        max-width: 100%;
        height: auto;
    }
    /* gowthami */
   .home-banner .home-banner-text h1{
        font-size: 32px;
    } 
    .home-banner .home-banner-text h4{
        font-size: 24px;
    } 
    .vendars-image img{
        margin-left: 2%;
    }
}
/* @media (max-width: 576px) { 

} */

.home-banner{
    background-image: url("../../assets/images/home-banner.jpg");
    background-attachment: fixed;
   
}
.home-banner h1{
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1.1em;
  
}
.home-banner-text h1{
    font-family: proxima-nova;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1.1em;
    text-transform: uppercase;
}
.home-banner-text h4{
    font-family: proxima-nova;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
}
/* ====home section-2 styles===== */
.sec-2{
    width: 100%;
    
     background-image: url('../../assets/images/home/Poly-Dot-Bckg-Light.jpg');
}
.home-sec-2{
    height: 700px;
    background-color: #00354f;
}
.home-sec{
    background-color: #00354f;
}
.home-sec-div{
    background-color: #001a3f;
}
.home-sec-2-div {
    height: 540px;
    background-color: #001a3f;
}
.home-sec-2-div-2{
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    color:white;
}
.vendars-image img{
    margin-left: 9%;
}



/* ====home section-2 styles end===== */
/* animation slide --h */


/* ====== new home styles ========= */
.insight-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: initial;
    background-image: url("../../assets/images/home/insight.jpg"),linear-gradient(120deg,#ffffff 0%,#000000 100%);
}
.experience{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: initial;
    background-image: url("../../assets/images/home/access.jpg"),linear-gradient(120deg,#ffffff 0%,#000000 100%);
}
.accelerate{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: initial;
    background-image: url("../../assets/images/home/explore.jpg"),linear-gradient(120deg,#ffffff 0%,#000000 100%);
}
.insight-button {
    border-width: 12px!important;
    border-color: #0094d1;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700!important;
    background-color: #0094d1;
    padding: 15px;
    text-decoration: none;
}
.insight-button:hover {
    border-color: #ff6b86!important;
    background-color: #ff6b86!important;
  
}

.digital-partners{
    background-blend-mode: multiply;
    background-image: url("../../assets/images/home/digital-partner.jpg"),linear-gradient(150deg,rgba(71,138,193,0.6) 0%,rgba(0,0,0,0.28) 100%)!important;
    overflow: hidden;
}

.trusted-block{
    background: #0c4a7c;
}
.trusted-block-text h1{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
}
.our-product h1{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
}
.trusted-block-text p{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}
.trusted-block-images img{
    width: 100%;
}
.trusted-block-curve{
    margin-left: -32px;
}
/* .case-study-block-curve{
    margin-left: -32px;
} */
.case-study-block-curve img{
    width: 100%;
}
.animate-bottom{
    position:relative;animation:animatebottom-div 1.4s
}
@keyframes animatebottom-div{
    from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
}
.animate-right{
    position:relative;
    animation:animateright-div 1.6s
}
@keyframes animateright-div{
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.banner-carousal-img{
    padding-left: 15px;
    padding-right: 15px;
}
.carousel-item{
    transition: none!important;
   
}

.carousel-item-3{
    background-image: linear-gradient( 0.4deg,  rgba(28,23,203,1) 3.7%, rgba(54,210,228,1) 86.3% );
}
.carousel-item-2{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(230,115,1,0.68) 21.4%, rgba(255,78,78,1) 80.3% );
}
.carousel-item-1{
    background-image: linear-gradient( 0.4deg,  rgba(28,23,203,1) 3.7%, rgba(54,210,228,1) 86.3% );
}
.case-studies-div{
    width: 38.25%;
    
}
.case-studies-div img{
    width: 80%;
}
.case-studies-div .case-studies-div-img{
    border: 11px solid white;
}
.case-study{
    background-image: linear-gradient(90deg,#021b79 0%,#0575e6 100%);
    background-color: #7EBEC5;
}


.animate-bottom{
    position:relative;
    animation:animatebottom-div 1.4s;
    }
    @keyframes animatebottom-div{
    from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
    }
    .ctext-color{
        color: #0094d1;
    }
    .cheight{
        height: 400px;
    }
    .banner-img1 {
    width: 100%;
    
    background-image:url("../../assets/images/home/image1.jpg");
    background-color: rgba(0, 0, 0, 0.801); 
    /* / background-color:rgba(32, 6, 6, 0.31); 
    / background-image: url('image1.jpg'),linear-gradient(180deg,#ee0303 0%,#151515 100%); 
    / background-color: initial;  */
    background-blend-mode: multiply;
    }
    
    .banner-img2{
    background-image: url("../../assets/images/home/image2.jpg");
    background-color: rgba(0, 0, 0, 0.801);
    background-blend-mode: multiply;
    }
    .banner-img3{
    background-image: url("../../assets/images/home/image3.jpg");
    background-color: rgba(0, 0, 0, 0.801);
    background-blend-mode: multiply;
    }
    .banner-img4{
    background-image: url("../../assets/images/home/image1.jpg");
    background-color: rgba(0, 0, 0, 0.801);
    background-blend-mode: multiply;
    }

    .banner-img5{
    background-image: url("../../assets/images/home/image5.jpg");
    background-color: rgba(0, 0, 0, 0.801);
    background-blend-mode: multiply;
    }
    .banner-img6{
    background-image: url("../../assets/images/home/image4.jpg");
    background-color: rgba(0, 0, 0, 0.801);
    background-blend-mode: multiply;
    }