<!-- section-box3 start-->
<div class="container-fluid sec-3 py-5 text-center">
        <div class="row ">
            <div class="col-md-12">
                
                <div>
                  <h1 class="text-center text-uppercase" style="font-weight: 400;">Our Solutions Portfolio</h1>
                  <div class="space-30"></div>
                  <h2 class="text-center sub-heading pl-5 pr-5" >We distribute best-of-breed technologies to build, manage, access and secure a modern, hybrid or multi-cloud IT infrastructure</h2>
                </div>
            </div>
        </div>
        <div class="row text-center py-3">
            <div class="col-md-6 col-12 col-lg-3">
                <div>
                    <img src="assets/images/home/image4.png">
                </div>
               
                <div class="py-5">
                    <a class="text-uppercase cborder  px-4 py-4 chng-color">Mobility</a>
                </div>
            
                <div>
                    <p class="" style="">Access solutions for business applications and data from any location or device.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lg-3">
                    <div>
                        <img src="assets/images/home/image5.png">
                    </div>
               
                    <div class="py-5">
                        <a class="text-uppercase cborder  px-4 py-4 chng-color">Security</a>
                    </div>
                  
                    <div>
                        <p class="">Access solutions for business applications and data from any location or device.</p>
                    </div>
                </div>
            <div class="col-md-6 col-12 col-lg-3">
                    <div>
                        <img src="assets/images/home/image2.png">
                    </div>
                  
                    <div class="py-5">
                        <a class="text-uppercase cborder  px-4 py-4 chng-color">Networking</a>
                    </div>
                  
                    <div>
                        <p class="">Access solutions for business applications and data from any location or device.</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-3">
                        <div>
                            <img src="assets/images/home/image3.png">
                        </div>
                       
                        <div class="py-5">
                            <a class="text-uppercase cborder px-4 py-4  chng-color">Enterprise cloud</a>
                        </div>
                      
                        <div>
                            <p class="">Access solutions for business applications and data from any location or device.</p>
                        </div>
                    </div>
                
        </div>
    </div>
    <!-- section-box3 end-->
    <!-- section-box4 start -->
    <div class="container-fluid sec-4 pt-5 text-center">
        <div class="row">
            <div class="col-md-12">
              
                <div>
                  <h1 class="text-center text-uppercase text-white" style="font-weight: 400;">OUR VENDORS</h1> 
               </div>
            </div>
        </div>
     
        <div class="row">
            <div class=" col-md-4 col-6 col-lg-2">     
                <div class="py-3" style="">
                    <img src="assets/images/home/vendor6.png" class="">
                </div>       
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                   
                <div class="py-3"> 
                    <img src="assets/images/home/vendor2.png" class="">
                </div>
                
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                    
                <div class="py-3">
                    <img src="assets/images/home/vendor3.png" class="">
                </div>
                
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                   
                <div class="py-3">
                    <img src="assets/images/home/vendor4.png" class="">
                </div>
                
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                   
                <div class="py-3">
                    <img src="assets/images/home/vendor5.png" class="">
                </div>
                
            </div>
            <div class="col-md-4 col-6 col-lg-2">   
                <div class=" py-3" >
                    <img src="assets/images/home/vendor1.png" class="">
                </div>     
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-4 col-6 col-lg-2">
                    <div class="py-3 " >
                            <img src="assets/images/home/vendor2.png" class="">
                    </div> 
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                    <div class="py-3" >
                            <img src="assets/images/home/vendor5.png" class="">
                    </div> 
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                    <div class="py-3" >
                            <img src="assets/images/home/vendor4.png" class="">
                    </div> 
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                    <div class="py-3" >
                            <img src="assets/images/home/vendor6.png" class="">
                    </div> 
            </div>
        </div>
        <div class="row text-center py-5">
            <div class="col-md-12">
                <div><a class="text-uppercase px-3 py-3 " href="#" >Read More about our vendors</a></div>
            </div>
        </div>
        <div class="py-2"></div>
    </div>
    <!-- section-box4 end -->
    <!-- section-box5 start -->
    <div class="container-fluid sec-5 py-5 text-center">
     
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1 class="text-center text-uppercase" style="font-weight: 370;">Events</h1>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
        
        <div class="row  ">
            <div class="col-md-6 pb-3 col-sm-6 col-lg-3">
                <div>
                    <img src="assets/images/home/events-img1.png"  >
                </div>
                <div>
                    <a href="#" >
                            Nutanix 2020 Partner Holiday Incentive
                    </a>
                </div>
                <div>
                    <time style="opacity: .7;">Jul 1, 2019 – Dec 31, 2019</time>
                </div>
            </div>
            
              <div class="col-md-6 pl-4 pb-3 col-sm-6 col-lg-3">
                <div>
                    <img src="assets/images/home/events-img2.png"  >
                </div>
                <div>
                    <a href="#" >
                            Join DataSolutions at Nutanix .Next Europe
                    </a>
                </div>
                <div>
                    <time style="opacity: .7;">Oct 8, 2019 – Apr 10, 2020</time>
                </div>
            </div>
            <div class="col-md-6 pl-4 pb-3 col-sm-6 col-lg-3">
                    <div>
                        <img src="assets/images/home/events-img3.png"  >
                    </div>
                    <div>
                        <a href="#" >
                                Drive Transformation with Hybrid & Multi-Cloud Networking
                        </a>
                    </div>
                    <div>
                        <time style="opacity: .7;">Oct 21, 2019</time>
                </div>
            </div>
                <div class="col-md-6 pl-4 pb-3 col-sm-6 col-lg-3">
                        <div>
                            <img src="assets/images/home/events-img4.png"  >
                        </div>
                        <div>
                            <a href="#" >
                                    Citrix Virtual Apps and Desktops 7 Administration On-Premises and in Citrix Cloud
                            </a>
                        </div>
                        <div>
                            <time style="opacity: .7;">Nov 25, 2019 – May 29, 2020</time>
                        </div>
                </div>
        </div>
        <div class="space-30"></div>
        <div class="row text-center">
            <div class="col-md-12 ">
                <div><a class="text-uppercase cbtn  px-3 py-3 ">See more datasolutions events</a></div>
            </div>
        </div>
    </div>
    
    <!-- section-box5 end -->
      <!-- section-box6 start -->
    <div class="container-fluid sec-6 py-5 text-center ">
            
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="text-white">DATASOLUTIONS NEWS</h1>
            </div>
        </div>  
        <div>
        <div class="row py-4 ">
                <div class="col-md-6 pl-4 col-lg-3">
                        <div>
                            <img src="assets/images/home/news1.png"  >
                        </div>
                        <div class="py-3">
                            <a href="#" class="text-white " >
                                    Nutanix User Group Ireland Recap – Sept 2019
                            </a>
                        </div>
                </div>
                <div class="col-md-6 pl-4 col-lg-3">
                        <div>
                            <img src="assets/images/home/news2.png"  >
                        </div>
                        <div class="py-3">
                            <a href="#" class="text-white" >
                                    Nutanix User Group Ireland Recap – Sept 2019
                            </a>
                        </div>
                </div>
                <div class="col-md-6 pl-4 col-lg-3">
                        <div>
                            <img src="assets/images/home/news3.png"  >
                        </div>
                        <div class="py-3">
                            <a href="#" class="text-white" >
                                    Nutanix User Group Ireland Recap – Sept 2019
                            </a>
                        </div>
                </div>
                <div class="col-md-6 pl-4 col-lg-3">
                        <div>
                            <img src="assets/images/home/news4.png"  >
                        </div>
                        <div class="py-3">
                            <a href="#" class="text-white " >
                                    Nutanix User Group Ireland Recap – Sept 2019
                            </a>
                        </div>
                </div>
        </div>
        <div class="row text-center py-2">
            <div class="col-md-12 ">
                <a class="text-uppercase text-white cbtn-news  px-3 py-3 ">Read more datasoloutions news</a>
            </div>
        </div>
        </div>
    </div>
    <!-- section-box6 end -->